/* Main Styles */
@font-face {
    font-family: 'U8';
    src: url(../fonts/U8-Bold.ttf);
}

@font-face {
    font-family: 'Varela Round';
    src: url('../fonts/VarelaRound-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
body {
    margin: 0;
    font-size: 0.9em;
    background: #ececec;
}
main {
    padding: 2em 3.5em;
    margin-bottom: 1.7em;
}
/* BANNER */
.banner {
    background: rgb(204,43,94);
    background: linear-gradient(135deg, rgba(204,43,94,1) 26%, rgba(117,58,136,1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30em;
}
.banner-text h1{
    align-items: center;
    color: #fff;
    font-size: 4em;
}
.banner-text p {
    color: #fff;
}
.banner-text .midi-text {
    font-size: 1.5em;
}
.banner-img img{
    border-radius: 50%;
    height: 26em;
}
h2 {
    font-family: 'U8', sans-serif;
    color: #753a88;
    font-size: 1.666666em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.2em;
}
p {
    margin: 0;
    color: #4a5568;
    font-size: 0.97222em;
}
/* CONTACT FORM */
.contact {
    width: 50%;
    margin: 0 auto;
    padding: 3em 2.8em;
    background-color: #fff;
}
.container {
    margin-top: 2.45em;
}
.form-item {
    margin-bottom: 1.25em;
}
label {
    font-size: 0.83333em;
    display: block;
    margin-bottom: 0.333335em;
    font-family: 'Varela Round', sans-serif;
    color: #4a5568;
    line-height: 2em;
}
.form-input, select.form-input{
    padding: 0.9em;
    font-size: 0.8em;
    border: 0 solid #f2f0f3;
    color: #1a202c;
    background: #f2f0f3;
    border-radius: 0.3em;
    width: 100%;
}
.form-input:focus {
    outline: none;
    box-shadow: none;
}
textarea.form-input {
    height: 5em;
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder { /* Edge */
  color: #a0aec0;
}

input:-ms-input-placeholder, select:-ms-input-placeholder { /* Internet Explorer */
  color: #a0aec0;
}

input::placeholder, select::placeholder{
  color: #a0aec0;
}
input:invalid,
textarea:invalid {
    border-left: 3px solid red;
}
input:valid,
textarea:valid {
    border-left: 3px solid green;
}
button {
    border: none;
    border-radius: 1em;
    background-color: #753a88;
    color: #fff;
    font-size: 0.97222em;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    padding: 1.53em 0 1.34em;
    margin-bottom: 0.3em;
    width: 100%;
}
a:focus, button:focus {
    outline: none;
    box-shadow: none;
}
.margintop-27 {
    margin-top: 2.7em;
}
.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}
/* Mobile View */
@media screen and (min-width: 751px) and (max-width: 989px) {
    .contact {
        width: 60%;
    }
}
@media screen and (min-width: 560px) and (max-width: 750px) {
    .contact {
        width: 70%;
    }
}
@media screen and (max-width: 559px) {
    main {
        padding: 2em 1.1em;
    }
    .contact {
        width: 90%;
    }
    .banner {
        display: block;
        text-align: center;
        padding: 2em 0 1em;
        height: auto;
    }
    .banner-text h1 {
        font-size: 2.388888em;
    }
    .banner-text p {
        font-size: 0.93em;
    }
    .banner-text .midi-text {
        margin-bottom: 0.5em
    }
    .banner-img img {
        height: 18em;
    }
}
